extends layout

block content
    div.object-data(data-objects=objects)
    div.room-data(data-room=current_room)
    div.mainSection        
        aside#menu
            nav.dropdown-menu
                div#column1.hidden
                    div.menu-title
                        h2 Menu
                    ul.layer1
                        li
                            a.menu-unit#fp FLOOR PLANS
                        li
                            a.menu-unit#f FURNITURES
                        li
                            a.menu-unit#m MEASUREMENTS
                        li
                            a.menu-unit#sp SAVED PLANS
                        li                     
                            div.object-button
                                a UPLOAD

                        form(id="object-form" method='POST' enctype='multipart/form-data' action= "/upload-object")
                            div.form-flex-col
                                div.form-group.form-input
                                    label(for='name') Name: 
                                    input#object-name.form-control(type='text', placeholder='Name' name='name' required value=(undefined===object ? '' : object.name) )
                                div.form-group.form-input
                                    label(for='object') Upload:  
                                    input(type='file' name='object' accept="object/glb, object/obj" required)
                                div.form-group.form-input
                                    label(for='category') Category: 
                                    select#category.form-control(name='category' required)
                                        each category in categories
                                            option(value= category._id)= category.name
                                button.button.submit-button(type='submit') Submit
                            if errors
                                ul
                                    for error in errors
                                        li!= error.msg
                        li
                            a.menu-unit#p3 EXPORT
                
                div#column2
                    ul#floor-plans.layer2.hidden
                        div.back-button1 &lt; back
                        div.menu-title
                            h2 FLOOR PLANS
                        div.layerx
                            li
                                each room in rooms
                                    a.room-link(href="room"+room.url)= room.name
                            li
                                div#room-button.dropdown-button  
                                    a &#43; Add new floor plan
                                form(id="room-form" method='POST' enctype='multipart/form-data' action= "/upload-room")
                                    div.form-group
                                        label(for='name') Name: 
                                        input#room-name.form-control(type='text', placeholder='Floor plan' name='name'  )
                                    div.form-group#room-upload-form
                                        label(for='room') Upload:  
                                        input(type='file' name='room' accept="room/glb, room/obj")
                                    button.button.submit-button(type='submit') Submit
                                    if errors
                                        ul
                                            for error in errors
                                                li!= error.msg  
                    ul#furnitures.layer2.hidden
                        div.back-button1 &lt; back
                        div.menu-title
                            h2 FURNITURES
                        div.layerx
                            each category in categories 
                                li 
                                    a.menu-header(id= category.name.replaceAll(' ', '-'))= category.name
                                    form(method='POST' action="/delete-category/" + category._id)
                                        div.form-group
                                            input#categoryid.form-control(type='hidden', name='categoryid', value=category._id )
                                        button.delete-hover(type='submit') 
                            li
                                a#list.menu-header Full List        
                            li
                                div#category-button.dropdown-button  
                                    a &#43; Add new category
                                form(method='POST' action = "/upload-category" id = "c-form")
                                    div#category-form.form-group
                                        div.form-flex
                                            input#category-name.form-control(type='text', placeholder='Category Name' name='name' value=(undefined===new_category ? '' : new_category.name) required)
                                            button.button.submit-button(type='submit') Submit
                                    if errors
                                        ul
                                            for error in errors
                                                li!= error.msg   
                    ul#saved-plans.layer2.hidden
                        div.back-button1 &lt; back
                        div.menu-title
                            h2 SAVED PLANS
                        div.layerx
                            li
                                a Plan 1
                            li
                                a Plan 2
                            li
                                a Plan 3
                div#column3.hidden
                    each category in categories
                       ul(id= "category-"+category.name.replaceAll(' ', '-'), class= "layer3 hidden")
                            div.back-button2 &lt; back
                            div.menu-title
                                h2= category.name
                            div.layerx
                                if category.objects.length
                                    each obj in category.objects
                                        each object in objects  
                                                if obj == object.id
                                                    li
                                                        a(href=object.url)= object.name
                                                        form(method='POST' action="/delete-object/" + object._id)
                                                            div.form-group
                                                                input#objectid.form-control(type='hidden', name='objectid', value=object._id )
                                                            button.delete-hover(type='submit') 
                                else    
                                    p There are no objects.
                                
                    div#list3.layer3.hidden  
                        div.back-button2 &lt; back
                        div.menu-title
                            h2 Full List
                        ul
                                each object in objects
                                    li 
                                        a(href=object.url)= object.name 

        main#scene
            div.title
                h1 #{title}
            div#scene-container
                div#blocker
                    div#instructions
                        p
                            h1 Click to play
                        p Move: WASD
                        p Look: MOUSE
                div#hud
                    div#fp-war
                        p
                            h2 War Room
                        p.up Unsaved plan
                    div#scene-right
                        div#full-screen
                            button#fullscreen-button ⛶
                        div#scene-options
                            button#reset Reset
                            button Save
            div.view-buttons
                button#ortho-view.button Orthographic
                button#outside-view.button Outside
                button#inside-view.button Inside
    if modal
        div#object-upload-modal
            div#modal-content
                a(class="close" href="/") &times; 
                h1= modal_title
                form(method='POST' enctype='multipart/form-data' action= "/upload-object")
                    div.form-group
                        label(for='name') Name: 
                        input#object-name.form-control(type='text', placeholder='Name' name='name' required value=(undefined===object ? '' : object.name) )
                    div.form-group 
                        label(for='object') Upload Object:  
                        input(type='file' name='object' accept="object/glb, object/obj" required)
                    div.form-group 
                        label(for='category') Category: 
                        select#category.form-control(name='category' required)
                            each category in categories
                                option(value= category._id)= category.name                 
                        button.button(type='submit') Submit
                    if errors
                        ul
                            for error in errors
                                li!= error.msg

    script(src="./javascripts/jquery-3.7.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js")
    script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js")
    script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/PointerLockControls.js")
    script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js")
    script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/TransformControls.js")
    script(src="./javascripts/DragControls.js" type="module")
    script(src="./javascripts/dynamicCamera.js" type="module")
    script(src="./javascripts/demoControls.js" type="module")
    script(src="./javascripts/demo.js" type="module")
    script(src="./javascripts/script.js" type="module")
    script(src="./javascripts/dropdown.js", type="module")
    script(src="./javascripts/modal.js", type="module")
