extends layout

block content
    div.object-data(data-objects=objects)
    div.mainSection
        aside#menu
            nav.dropdown-menu
                div#column1.hidden
                    div.menu-title
                        h2 Menu
                    ul.layer1
                        li
                            a.menu-unit#fp FLOOR PLANS
                        li
                            a.menu-unit#f FURNITURES
                        li
                            a.menu-unit#m MEASUREMENTS
                        li
                            a.menu-unit#sp SAVED PLANS
                        li
                            a#upload UPLOAD
                        li
                            a.menu-unit#p3 EXPORT
                
                div#column2
                    ul#floor-plans.layer2.hidden
                        div.back-button1 &lt; back
                        div.menu-title
                            h2 FLOOR PLANS
                        div.layerx
                            li
                                a Studio
                            li
                                a 1 Bedroom
                            li
                                a 1 Bedroom + Den
                            li
                                a 2 Bedroom
                            li
                                a 2 Bedroom + Den
                    ul#furnitures.layer2.hidden
                        div.back-button1 &lt; back
                        div.menu-title
                            h2 FURNITURES
                        each categoryName in Object.keys(categories || {})
                            li 
                                div.menu-header
                                    a= categoryName
                        
                                
                        //- each categoryName in Object.keys(categories || {})
                        //-     li 
                        //-         span= categoryName 
                                        //- ul  
                                        //-     if categories[categoryName] && categories[categoryName].length > 0
                                        //-         each item in categories[categoryName]  
                                        //-             li= item.name 
                                        //-     else    
                                        //-         li No item available
                    ul#saved-plans.layer2.hidden
                        div.back-button1 &lt; back
                        div.menu-title
                            h2 SAVED PLANS
                        div.layerx
                            li
                                a Plan 1
                            li
                                a Plan 2
                            li
                                a Plan 3
                //- div#column3.hidden
                //-     div#chairs3.layer3.hidden
                //-         div.back-button2 &lt; back
                //-         div.menu-title
                //-             h2 CHAIRS
                //-         ul
                //-             li
                //-                 a Chair 1
                //-             li
                //-                 a Chair 2
                //-     div#sofas3.layer3.hidden
                //-         div.back-button2 &lt; back
                //-         div.menu-title
                //-             h2 SOFAS
                //-         ul
                //-             li
                //-                 a Sofa 1
                //-             li
                //-                 a Sofa 2
                //-     div#tables3.layer3.hidden
                //-         div.back-button2 &lt; back
                //-         div.menu-title
                //-             h2 TABLES
                //-         ul
                //-             li
                //-                 a Table 1
                //-             li
                //-                 a Table 2
                //- if categories[categoryName] && categories[categoryName].length > 0
                //-             each item in categories[categoryName]  
                //-                 li= item.name 
                //-         else    
                //-             li No item available
                
                //- div.back-button1 &lt; back
                        //- div.menu-title
                        //-     h2 FURNITURES
                        //- div.layerx
                            //- li 
                            //-     a(href="/list") Upload List
                            //- li
                            //-     div#chairs.menu-header
                            //-         a Chairs
                            //- li
                            //-     div#sofas.menu-header
                            //-         a Sofas
                            //- li
                            //-     div#tables.menu-header
                            //-         a Tables
        main#scene
            div.title
                h1 War Room Demo
            div#blocker
                div#instructions
                    p
                        h1 Click to play
                    p Move: WASD
                    p Look: MOUSE
            div#scene-container
                div#hud
                    div#fp-war
                        p
                            h2 War Room
                        p.up Unsaved plan
                    div#scene-right
                        div#full-screen
                            button#fullscreen-button ⛶
                        div#scene-options
                            ul
                                li
                                    a Reset
                                li
                                    a Save
            div.view-buttons
                button#ortho-view.button Orthographic
                button#outside-view.button Outside
                button#inside-view.button Inside

    div#object-upload-modal.hidden 
        div#modal-content
            span.close &times; 

            h1=modaltitle
            form(method='POST' enctype='multipart/form-data' action = "/upload")
                div.form-group
                    label(for='name') Name: 
                    input#name.form-control(type='text', placeholder='Name' name='name' required value=(undefined===object ? '' : object.name) )
                div.form-group 
                    label(for='object') Upload Object:  
                    input(type='file' name='object' accept="object/glb, object/obj")
                div.form-group 
                    label(for='category') Category: 
                    select#category.form-control(name='category')
                        //- option(value='chairs') Chairs 
                        //- option(value='sofas') Sofas
                        //- option(value='tables') Tables
                        if defaultCategories
                            each categoryKey in defaultCategories
                                option(value=categoryKey)= categoryKey
                        else 
                            option No categories available
                
                button.button(type='submit') Submit
            if errors
                ul
                    for error in errors
                        li!= error.msg

    script(src="./javascripts/jquery-3.7.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js")
    script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js")
    script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/PointerLockControls.js")
    script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js")
    script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/DragControls.js")
    script(src="./javascripts/dynamicCamera.js" type="module")
    script(src="./javascripts/demoControls.js" type="module")
    script(src="./javascripts/demo.js" type="module")
    script(src="./javascripts/dropdown.js", type="module")
    script(src="./javascripts/modal.js", type="module")
